<h1>つぶやき編集</h1>

<%= form_with(model: @post,local: true) do |form| %>
  <%= form.hidden_field :content %>
  <%= form.label :contet %>
  <%= @post.content%>
  <%= form.text_field :content %>
  <%= form.submit %>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
