<header>
  <div>
    <a class="top_link" href="">TOP</a>
  </div>
</header>

<div class="content_wrapper">
  <p id="notice"><%= notice %></p>
  <div class="top_container">
      <h1 class="top_title">сЂцсЂХсѓёсЂЇСИђУдД</h1>
      <p class="new_button"><%= link_to 'ТіЋуе┐сЂЎсѓІ', new_post_path %></p>
  </div>

  <table align = "center" class="top_table" border="2" style="border-collapse: collapse; border-color: rgb(140, 0, 255)">
    <thead class="head_table">
      <tr>
        <th>ТіЋуе┐ID</th>
        <th>ТіЋуе┐тєЁт«╣</th>
        <th>ТіЋуе┐ТЌЦ</th>
        <th colspan= "3">УЕ│у┤░</th>
      </tr>
    </thead>
    <tbody  class="table_record">
      <% @posts.each do |post| %>
        <tr>
          <td><%= post[:id] %></td>
          <td><%= post[:content] %></td>
          <td><%= post[:updated_at] %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<footer>
  <div>
    <p>­ЪёФ Takeshi Aono</p>
  </div>
</footer>

